@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
  .big-text {
    font-size: 18px;
  }

  .heading-text {
    // font-size: 3rem;
  }

  .caption2White {
    font-size: 16px;
  }

  .subhead {
    // font-size: 18px;
  }

  .subtitle {
    // font-size: 24px;
  }
  
  .subhead-white {
    font-size: 24px;
  }

  .medium-text {
    font-size: 14px;
  }

  .menu li a {  
    //font-size: 16px;
    line-height: 16px;
  }

  .menu li.choose-language {
    padding: 0px 0px 18px 12px;
    margin-top: 0px;
  }

  #power-to-people {
    //background-position: 0px -60px;
    height: 735px;
  }

  #ptp-wrapper {
    padding-top: 173px;
  }

  #power-to-people h1 {
    //font-size: 52px;
  }


  #power-to-people p {
    //font-size: 13px;
    width: 450px;
  }

  .background-decoration {
    bottom: 250px;
    right: -210px;
  }

  .orange-circle {
    top: 50px;
    width: 200px;
    height: 200px;
    left: -100px;
  }
  .white-circle {
    width: 500px;
    height: 250px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
  }

  #footer .address {
    min-height: 65px;
  } 

  #home-about .play-icon {
    width: 80px;
  }
  
  .wassha-section {
    display: flex;
    justify-content: flex-end;
  }

  .wassha-section2 {
    display: flex;
    justify-content: flex-start;
  }
  
  .bg-square {
    width: 180px;
    height: 180px;
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .bg-square:nth-child(1) {
    margin-right: 12px;
  }

  #quote {
    height: 440px;
  }

  #quote p {
    max-width: 400px;
  }

  #quote p.from {
    font-size: 20px;
  }

  .btn-vacancies {
    margin: 5px 0px;
    color: #ea5703;
    background: transparent;
    padding: 6px 45px;
  }

  .image-more {
    font-size: 24px;
  }
  
  .vacancies {
    //width: 320px;
    //width: 100%;
    background: white;
    margin-bottom: 25px;
  }

  .vacancies-img {
    //width: 320px;
    //width: 100%;
    height: 210px;
  }

  .btn-vacancies-2{
    margin-top: 18px;
  }

  .wassha-family-block {
    width: 25%;
    flex: 0 0 25%;
  }

  .vacancies-text {
    font-size: 24px;
    padding-top: 18px;
  }
  
  #careers-hq {
    background-size: 870px, 520px;
  }

  .vacan-text {
    margin-bottom: 25px;
  }

  .btn-vacancies:hover {
    color:#ea570394;
    font-weight: 200;
  }

  .bg-404 {
    height: auto;
  }
  
  .contact-textarea {
    height: 108px;
  }

  #news .subtitle {
    font-size: 18px;
  }

  #news .subhead {
    font-size: 15px;
  }

  #news-social ul.social {
    width: 440px;
  }

  #news-social ul.social li img {
    width: 45px;
  }

  .slide-title {
    font-size: 24px;
    padding-top: 18px;
  }

  .impact-image-wrapper {
    max-width: 280px;
  }

  .impact-image {
    width: 100px;
  }

  .impact-image-description {
    padding-left: 120px;
    padding-top: 2px;
  }

  .impact-slide-item img.human-quote {
    // max-height: 260px;
  }

  .slide-white-circle {
    left: 45%;
  }
}